body {
  background-color: #f5f5f5;
  font-family: "Open Sans", sans-serif;
}

header {
  background-image: url("../assets/library-banner.jpg");
  background-size: contain;
}

section {
  margin: 1.5em 0;
}

main {
  margin: 1.5em 0 0 0;
}

td,
th {
  font-size: 1.25em;
  text-align: center;
}

.login-form {
  margin: 1em 0;
}

.table-img {
  height: 125px;
  width: 75px;
}

.glyphicon-remove-circle {
  font-size: 1em;
}

.glyphicon-remove-circle:hover {
  transform: scale(1.25);
  transition-duration: all 0.2s ease-in-out;
}

.library-title {
  color: #f5f5f5;
  font-size: 4.5em;
  font-weight: 900;
  margin: 1.25em 0;
  text-shadow: 0.05em 0.05em #000;
}

.remove-book-button {
  margin: 0 0 0 0.25em;
}

.green-text {
  color: #008000;
  margin: 0.5em 0 0 0;
}

.search-height {
  height: 3.5em;
}